<a href="https://colab.research.google.com/github/timothy-87/Group-1-Tasks/blob/main/GROUP1_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import csv

In [7]:
with open('bios.csv') as athlete_data:
    reader = csv.reader(athlete_data)
    athlete_data = list(reader)

athlete_data

for index in range(5):
  print(athlete_data[index])

['athlete_id', 'name', 'born_date', 'born_city', 'born_region', 'born_country', 'NOC', 'height_cm', 'weight_kg', 'died_date']
['1', 'Jean-François Blanchy', '1886-12-12', 'Bordeaux', 'Gironde', 'FRA', 'France', '', '', '1960-10-02']
['2', 'Arnaud Boetsch', '1969-04-01', 'Meulan', 'Yvelines', 'FRA', 'France', '183.0', '76.0', '']
['3', 'Jean Borotra', '1898-08-13', 'Biarritz', 'Pyrénées-Atlantiques', 'FRA', 'France', '183.0', '76.0', '1994-07-17']
['4', 'Jacques Brugnon', '1895-05-11', 'Paris VIIIe', 'Paris', 'FRA', 'France', '168.0', '64.0', '1978-03-20']

In [9]:
athlete_data = pd.read_csv('bios.csv')
athlete_data.head()
athlete_data.tail()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [ ]:
# prompt: create a dataframe with 1 column

df = pd.DataFrame({'col1': [1, 2, 3]})

In [17]:
df = pd.DataFrame(athlete_data)
df['name']

0         Jean-François Blanchy
1                Arnaud Boetsch
2                  Jean Borotra
3               Jacques Brugnon
4                  Albert Canet
                  ...
145495        Polina Luchnikova
145496      Valeriya Merkusheva
145497          Yuliya Smirnova
145498           André Foussard
145499            Bill Phillips
Name: name, Length: 145500, dtype: object

In [18]:
df['born_city']

0                Bordeaux
1                  Meulan
2                Biarritz
3             Paris VIIIe
4              Wandsworth
               ...
145495              Serov
145496    Moskva (Moscow)
145497             Kotlas
145498              Niort
145499       Dulwich Hill
Name: born_city, Length: 145500, dtype: object

In [19]:
df['born_date']

0         1886-12-12
1         1969-04-01
2         1898-08-13
3         1895-05-11
4         1878-04-17
             ...
145495    2002-01-30
145496    1999-09-20
145497    1998-05-08
145498    1899-05-19
145499    1913-07-15
Name: born_date, Length: 145500, dtype: object

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [22]:
name_mapping = ({'name': 'name'})
df.rename(columns=name_mapping)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20